## docker db
DB_HOST=localhost
DB_PORT=5433
DB_USER=admin
DB_PASSWORD=secret
DB_NAME=chatdb

## email (SendGrid)
SENDGRID_API_KEY=your-sendgrid-api-key
SENDGRID_FROM_EMAIL=you@example.com
SENDGRID_FROM_NAME=YourApp

## JWT
JWT=generate-a-long-random-secret
